@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
  --primary: #111;
  --secondary: #fff;
  --accent: #e272b0;
}

body {
  margin: 0;
  background: rgb(229, 233, 233);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--primary)
}

a:hover, button:hover  {
  color: var(--accent)
}

p, button {
  transition: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
}

.container-block {
  max-width: 1350px;
  margin: 0 auto;
  justify-content: start;
  align-items: center;
  padding: 120px 0;
}

header {
  background-image: linear-gradient(90deg, #efefef, #ccc);
  min-height: 100vh;
  color: var(--primary);
  position: relative;
  display: flex;
  justify-content: space-between;
}

header main {
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.main-image {
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-body {
  padding-top: 3em;
}

nav .container,
.header-body .container {
  padding: 1.65rem 2.5rem;
}

.brand {
  font-size: 2em;
  font-weight: 600;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin: 0 1.5em 0 0;
}

nav ul a {
  padding-bottom: 0.7em;
}

.link-active {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

.menu-btn {
  background: #3f3f3f;
  padding: 2.2em;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background: #4f4f4f;
}

nav .menu-btn {
  display: none;
  padding: 0;
  justify-self: end;
}

aside {
  background: #2c2c2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #373739;
  position: relative;
  z-index: 1;
}

.social {
  padding-bottom: 1em;
}

.social li {
  margin: 1.2em 0;
  transform: rotate(-90deg)
}

.menu {
  background: #111;
  padding: 2em;
  height: 100%;
  width: 20em;
  position: absolute;
  top: 0;
  left: -20em;
  transition: 0.5s cubic-bezier(0.74, -0.03, 0.83, 0.67);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}

.menu ul {
  margin: 3em;
}

.menu li {
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-bottom: 1px solid #191919;
}

.menu-open {
  left: 6em;
}

.header-body .container {
  justify-content: start;
}

.header-body .container > div {
  max-width: 32em;
}

.progress {
  width: 50%;
  height: 2px;
  background: #191919;
}

.progress div {
  width: 33%;
  height: 100%;
  background: var(--accent);
  transition: 0.3s;
}

.slider-cntrl {
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
  transform: none;
}

.slider-cntrl:hover {
  color: var(--primary);
}

.active {
  color: var(--primary);
  transform: scale(1.1) translateX(2em);
}

.title {
  font-size: 4.5em;
  line-height: 1.2em;
  margin: 0.5em 0;
  color: var(--primary);
}

.pagination-mobile {
  display: none;
}

.pagination-mobile li {
  background: var(--secondary);
  margin: 0 0.7em 0 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-mobile .pag-active {
  background: var(--accent);
}

.header-bottom {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  height: 200px;
}

.header-bottom .container > div {
  display: flex;
  justify-content: flex-start;
}

.item {
  display: flex;
  padding: 1.5em 2em;
  justify-content: center;
  flex-direction: column;
}

.item-centered {
  margin: 0 auto;
}

.header-bottom h4 {
  margin: 0.5em 0;
}

.item small:nth-of-type(1) {
  color: #999;
}

.header-bottom a {
  margin-top: 1em;
  color: var(--accent);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.slider-count {
  font-size: 1.2em;
}

.value-section-home {
  background: #efefef;
  width: 100%;
  padding: 2.2em;
}

.value-section-home .container {
  display: block;
}

.value-card {
  background: #fff;
  padding: 1.5em 2em;
}

.value-card h2 {
  color: var(--primary);
  line-height: 3em;
}

.value-card svg {
  color: var(--primary);
  padding: 1em;
  height: 60px;
  width: 60px;
  background: #eee;
  border-radius: 5px;
}

.header-bottom .thumbnail {
  height: 200px;
}

@layer base {
  body {
    @apply bg-gray-100 select-none text-gray-600 min-h-screen;
  }
  h2 {
    @apply text-xl font-semibold mb-2
  }
  p {
    @apply text-base text-gray-700
  }
  img {
    max-width: 100%;
  }
  .tip {
    opacity: 0;
  }
  .tip-wrapper:hover .tip {
    opacity: 1;
  }
}


@layer components {
  .bg-dotted {
    background-color: transparent;
    background-image: radial-gradient(circle, #ccc 5%, transparent 10%), radial-gradient(circle, #ccc 5%, transparent 10%);
    background-size: 78px 78px;
    background-position: 0 0, 0 0;
  }
  .white-label label {
    color: white;
  }
  .react-select__control {
    @apply flex justify-between items-center hover:shadow-xl p-4 cursor-pointer rounded-none text-white bg-white mx-auto xl:mx-0 py-4;
  }
  .intent {
    @apply flex justify-between items-center hover:shadow-xl p-4 cursor-pointer text-white bg-white rounded-sm mx-auto xl:mx-0;
  }

  .sidebarButton {
    @apply dark:border-t border-gray-600 py-3 px-4 cursor-pointer opacity-80 hover:opacity-100 w-full;
  }

  .sidebarLink {
    @apply text-[13px] font-medium text-blue-500 hover:underline cursor-pointer px-2.5;
  }

  .inputButton {
    @apply flex items-center space-x-2 font-medium cursor-pointer text-sm;
  }

  .postButton {
    @apply flex items-center justify-center space-x-2 cursor-pointer hover:bg-white/10 dark:hover:bg-white/20 w-full py-2.5 rounded transition ease-out font-medium;
  }
  .react-select_custom, .react-select_custom *:focus, .react-select_custom *:hover {
    border-color: transparent!important;
  }
}

h2 {
  @apply font-semibold text-xl
}